<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Naruto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="content-container">
        <h1>About {{ naruto_info.title }}</h1>
        <div class="description">
            <p><strong>Description:</strong> {{ naruto_info.description }}</p>
            <p><strong>Background:</strong> {{ naruto_info.background }}</p>
            <p><strong>Goals:</strong> {{ naruto_info.goals }}</p>
        </div>

        <div class="links">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('characters_page') }}">Characters</a>
        </div>
    </div>
</body>
</html>
